@import "tailwindcss";

:root {
  --color-base: #ffffff;
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-dark: #111827;

  --background: var(--color-base);
  --foreground: var(--color-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
