@import "tailwindcss";

:root {
  --color-base: #f9fafb;
  --color-primary: #4caf91;
  --color-accent: #ffd265;
  --color-dark: #1f2937;
  --color-text: #111827;
  --color-bg: #f9fafb;

  --background: var(--color-bg);
  --foreground: var(--color-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
